:root {
    --main-font-color: black;
    --secondry-font-color:white;
    --secondry-main-background: #f2f2f2;
    --main-background-color: white;
    --main-border-color: black;

}


.dark-mode {
    --main-font-color: white;
    --secondry-main-background: #1f2223;
    --main-background-color: #181a1b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: white;
        --secondry-main-background: #1f2223;
        --main-background-color: #181a1b;
        --main-border-color: rgba(24, 77, 104, 0.8);
        --secondry-font-color:rgba(141,199,229,.8);
    }
    .moon {
        display: none;
    }
    svg {
        filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(202deg) brightness(113%) contrast(101%);
    }
}

@media (prefers-color-scheme: light) {
    .sun {
        display: none;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    justify-content: space-between;
    justify-items: end;
    color: var(--main-font-color);
}

h1 {
    font-size: 40px;
    justify-self: start;
}

.mode {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.stats {
    color: var(--secondry-font-color);
    justify-self: end;
    width: 20rem;
    margin-bottom: 15px;
    border: 2px solid var(--main-border-color);
    padding: 20px;
    line-height: 40px;
}

.stats h3 {
    display: flex;
}

.stats h3 span {
    margin-left: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

svg {
    width: 40px;
}

nav {
    display: flex;
    margin: 20px;
    padding: 10px;
    gap: 10px;
    background-color: var(--secondry-main-background);
    color: var(--main-font-color);
}

nav select {
    border: 1px solid;
}

