:root {
    --main-font-color: black;
    --secondry-font-color:white;
    --secondry-main-background: #f2f2f2;
    --main-background-color: white;
    --main-border-color: black;
    --main-svg-color: filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(284deg) brightness(107%) contrast(107%);
    --secondry-font-color:black;
}


.dark-mode {
    --main-font-color: white;
    --secondry-main-background: #1f2223;
    --main-background-color: #181a1b;
    --main-border-color: rgba(24, 77, 104, 0.8);
    --secondry-font-color:rgba(141,199,229,.8);
    --main-svg-color: invert(100%) sepia(93%) saturate(2%) hue-rotate(202deg) brightness(113%) contrast(101%);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    height: 100vh;
    position: relative;
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    justify-content: space-between;
    justify-items: end;
    color: var(--main-font-color);
}

h1 {
    font-size: 40px;
    justify-self: start;
}

.mode {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.stats {
    color: var(--secondry-font-color);
    justify-self: end;
    width: 20rem;
    margin-bottom: 15px;
    border: 2px solid var(--main-border-color);
    padding: 20px;
    line-height: 30px;
}

.stats h3 {
    display: flex;
}

.stats h3 span {
    margin-left: auto;
}

.not-visible {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

svg {
    width: 40px;
    filter: var(--main-svg-color);
}

.book {
    color: var(--main-font-color);
    padding: 20px;
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);;
    display: grid;
    gap: 10px;
    position: relative;
}

.book h3 {
    font-weight: 500;
}

.book button {
    color: var(--main-font-color);
    font-weight: bold;
    justify-self: end;
    position: relative;
    top: -10px;
    right: -10px;
    font-size: 15px;
}

.read {
    margin-top: 20px;
    justify-self: end;
    font-size: .9rem;
}

.read input {
    visibility: hidden;
}

.read span {
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px solid #303436;
    background-color: #39806b65;
    border-radius: 15px;
    position: relative;
}

.read span::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    right: 1px;
}

section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 20px;
}

.add-book {
    background: linear-gradient(135deg, #2196f3 0%, #1565c0 100%);
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    margin-left: 95%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms ease-in-out;
    z-index: 2;
}

.add-book:hover {
    transform: rotate(30deg) scale(110% , 110%);
}

.add-book button {
    font-size: 40px;
    color: var(--main-font-color);
}

form {
    position: absolute;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    display: grid;
    gap: 20px;
    width: 500px;
    border: 1px solid var(--main-border-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 2;
    display: none;
}

form .header {
    display: flex;
    grid-template-columns: 1fr 30px;
    justify-content: space-between;
}

form .header button {
    color: var(--main-font-color);
    font-size: 30px;
}

form label {
    font-size: 20px;
}

form input {
    padding: 5px;
    background-color: var(--main-border-color);
    border: none;
    outline: none;
    caret-color: var(--main-font-color);
    color: var(--main-font-color);
}

form select {
    background-color: var(--main-border-color);
    border: none;
    color: var(--main-font-color);
}

form input::placeholder {
    color: var(--main-font-color);
}

form .control {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

form .control button {
    color: var(--main-font-color);  
    border: 1px solid var(--main-border-color);  
    font-size: 20px;
    padding: 10px;
}


.overlay {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

